<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Epam3_Project4_Courses</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.java.myrotiuk.controller.Controller</servlet-class>
    <init-param>
      <param-name>log4j-xml-location</param-name>
      <param-value>WEB-INF/classes/com/java/myrotiuk/log4j/log4j.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/courses</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/project4_courses</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>Index</servlet-name>
    <jsp-file>/Index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingUp</servlet-name>
    <jsp-file>/SingUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingUp</servlet-name>
    <url-pattern>/singUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeStudent</servlet-name>
    <jsp-file>/WelcomeStudent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeStudent</servlet-name>
    <url-pattern>/welcomeStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeTeacher</servlet-name>
    <jsp-file>/WelcomeTeacher.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeTeacher</servlet-name>
    <url-pattern>/welcomeTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CatalogOfCourses</servlet-name>
    <jsp-file>/CatalogOfCourses.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogOfCourses</servlet-name>
    <url-pattern>/catalogOfCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherCourses</servlet-name>
    <jsp-file>/TeacherCourses.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherCourses</servlet-name>
    <url-pattern>/teacherCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentCourses</servlet-name>
    <jsp-file>/StudentCourses.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCourses</servlet-name>
    <url-pattern>/studentCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Enrol</servlet-name>
    <jsp-file>/Enrol.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enrol</servlet-name>
    <url-pattern>/enrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuitStudying</servlet-name>
    <jsp-file>/QuitStudying.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitStudying</servlet-name>
    <url-pattern>/quitStudying</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignGrades</servlet-name>
    <jsp-file>/AssignGrades.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignGrades</servlet-name>
    <url-pattern>/assignGrades</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherRegisters</servlet-name>
    <jsp-file>/TeacherRegisters.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherRegisters</servlet-name>
    <url-pattern>/teacherRegisters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GraduatedCourses</servlet-name>
    <jsp-file>/GraduatedCourses.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraduatedCourses</servlet-name>
    <url-pattern>/graduatedCourses</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorPage.jsp</location>
  </error-page>
  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.java.myrotiuk.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.java.myrotiuk.filter.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/courses</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>NoCacheFilter</display-name>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>com.java.myrotiuk.filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>